body {
  background-color: black;
  font-size: 150%;
  font-family: "Roboto", sans-serif;
  text-align: center;
     }
h1 {
  font-size: 150%;
  color: #0b6604;
  text-shadow: 3px 3px 2px #0b6604;
}
h2 {
  font-size: 100%;
  color: white;
  text-shadow: 5px 5px 2px white;
}
img {
  max-width: 45%;
}

p {
    color: white;
  }
    a:link {
      color: green;
    }
a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

a:active {
  color: red;
}
