body {
  background-color: black;
  font-size: 150%;
  font-family: "Roboto", sans-serif;
  text-align: center;
     }
h1 {
  font-size: 150%;
  color: #0b6604;
  text-shadow: 3px 3px 2px #0b6604;
}
h2 {
  font-size: 100%;
  color: white;
  text-shadow: 5px 5px 5px white;
}
img {
  max-width: 50%;
  width: 50%;
  display: block;
  margin: auto;
}

p {
    color: white;
  }
    a:link {
      color: green;
    }
i {
  font-style: italic;
  color: white;
  font-size: 90%;
}
a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

a:active {
  color: red;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active .subactive) {background-color: #111;}

ul.topnav li a.active {background-color: #0b6604;}
ul.topnav li a.subactive {background-color: #644d00;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 756px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
</s

ul li a:hover {
  background-color: #111111;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline green wavy 5px;
    color: green;
}
