<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2685.3">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 15.0px Menlo; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 15.0px Menlo; -webkit-text-stroke: #000000; min-height: 18.0px}
    span.s1 {font-kerning: none; color: #878787; -webkit-text-stroke: 0px #878787}
    span.s2 {font-kerning: none; color: #850043; -webkit-text-stroke: 0px #850043}
    span.s3 {font-kerning: none; color: #0f7001; -webkit-text-stroke: 0px #0f7001}
    span.s4 {font-kerning: none; color: #0744b8; -webkit-text-stroke: 0px #0744b8}
    span.s5 {font-kerning: none; background-color: #ffffff}
    span.s6 {font-kerning: none}
  </style>
</head>
<body>
<p class="p1"><span class="s1">&lt;</span><span class="s2">h1</span><span class="s3"> style</span><span class="s4">="color:blue;"</span><span class="s1">&gt;</span><span class="s5">A Blue Heading</span><span class="s1">&lt;</span><span class="s2">/h1</span><span class="s1">&gt;</span></p>
<p class="p2"><span class="s6"></span><br></p>
<p class="p1"><span class="s1">&lt;</span><span class="s2">p</span><span class="s3"> style</span><span class="s4">="color:red;"</span><span class="s1">&gt;</span><span class="s5">A red paragraph.</span><span class="s1">&lt;</span><span class="s2">/p</span><span class="s1">&gt;</span></p>
</body>
</html>
